<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="testConnectionSqlServerViaVPN.Properties.Settings.maConnexionSqlServer"
            connectionString="Data Source=172.18.0.102;Initial Catalog=TEST;Persist Security Info=True;User ID=groupe11;Password=e11T22u33"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>