<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="bdd_05.Properties.Settings.connectFileTennis" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Bruno\gestionTennisSQL.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="bdd_05.Properties.Settings.gestionTennisConnectionToSqlServer"
            connectionString="Data Source=DESKTOP-RKORABH\SQLEXPRESS;Initial Catalog=gestionTennisSQL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>